@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}
@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'Yantramanav';
    src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*,::before,::after { /* Нормализация блочной модели */
  box-sizing: border-box;
}
:where(ul, ol):where([class]) { /*Убираем внутренние отступы слева тегам списков,у которых есть атрибут class*/
  padding-left: 0;
}
body,:where(blockquote, figure):where([class]) { /*Убираем внешние отступы body и двум другим тегам,у которых есть атрибут class*/
  margin: 0;
}
:where(h1,h2,h3,h4,h5,h6,p,ul,ol,dl):where([class]) {/*Убираем внешние отступы вертикали нужным тегам,у которых есть атрибут class*/
  margin-block: 0;
}
:where(dd[class]) {
  margin-left: 0;
}
:where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
}
:where(ul[class]) {/*Убираем стандартный маркер маркированному списку,у которого есть атрибут class*/
   list-style: none;
}
:where(address[class]) {
   font-style: normal;
}
p { /*Обнуляем вертикальные внешние отступы параграфа,объявляем локальную переменную для внешнего отступа вниз,чтобы избежать взаимодействие с более сложным селектором*/
   --paragraphMarginBottom: 24px;
   margin-block: 0;
}
p:where(:not([class]):not(:last-child)) {/*Внешний отступ вниз для параграфа без атрибута class,который расположен не последним среди своих соседних элементов*/
   margin-bottom: var(--paragraphMarginBottom);
}
img,video {/*Упрощаем работу с изображениями и видео*/
   display: block;
   max-width: 100%;
   height: auto;
}
input,textarea,select,button {/*Наследуем свойства шрифт для полей ввода*/
   font: inherit;
}
 
html {
   height: 100%;/*Пригодится в большинстве ситуаций(когда, например, нужно будет "прижать" футер к низу сайта)*/
   scrollbar-gutter: stable;/*Убираем скачок интерфейса по горизонталипри появлении / исчезновении скроллбара*/
}
html,:has(:target) {/*Плавный скролл*/
   scroll-behavior: smooth;
}
body {
   min-height: 100%;/*Пригодится в большинстве ситуаций(когда, например, нужно будет "прижать" футер к низу сайта)*/
   line-height: 1.5;/*Унифицированный интерлиньяж*/
}
a:where([class]) {/*Нормализация высоты элемента ссылки при его инспектировании в DevTools*/
   display: inline-flex;
}
button,label {/*Курсор-рука при наведении на элемент*/
   cursor: pointer;
}
:where([fill]:not([fill="none"],[fill^="url"])) {/*Приводим к единому цвету svg-элементы(за исключением тех, у которых уже указанатрибут fill со значением 'none' или начинается с 'url')*/
   fill: currentColor;
}
 
:where([stroke]:not([stroke="none"],[stroke^="url"])) { /*Приводим к единому цвету svg-элементы(за исключением тех, у которых уже указанатрибут stroke со значением 'none')*/
   stroke: currentColor;
}
svg * {/*Чиним баг задержки смены цвета при взаимодействии с svg-элементами*/
   transition-property: fill, stroke;
}
:where(table) {/*Приведение рамок таблиц в классический 'collapse' вид*/
   border-collapse: collapse;
   border-color: currentColor;
}
@media (prefers-reduced-motion: reduce) {/*Удаляем все анимации и переходы для людей,которые предпочитают их не использовать*/
   *,::before,::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
  }
}
:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-alternate: #131619;
    --color-dark-grey: #404040;
    --color-light-grey: #C4C4C4;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;

    --container-width: 1300px;
    --container-pading-x: 15px;

    --transition-duration: 0.2s;
}
body{
    font-family: var(--font-family-base);
    background-color: var(--color-dark-alternate);
    color: var(--color-light-grey);
    font-size: 16px;
    line-height: 1.75;
}
a,button,input,textarea,svg * {
  transition-duration: var(--transition-duration);
}
.button{
  display: inline-flex;
  height: 38px;
  align-items: center;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}
.button:hover{
  color: var(--color-dark);
  background-color: yellow;
  cursor: auto;
}
a{
  color: var(--color-light);
}
.header-menu a:hover{
  color: yellow;
  transform: scale(1.2);
}
.container{
    max-width: calc((--container-width) + var(--container-pading-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-pading-x);
}
.container h1{
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    text-transform: uppercase;
}

/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-dark);
}
.header-logo{
  flex-shrink: 0;
}
.header-logo:hover{
  transform: none;
}
.header-menu-list{
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.header-menu-link{
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.header-menu-link.is-current::after{
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

/* index */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
.section{
  padding-block: 30px;
  color: #FFFFFF;
}
.hero{
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}
.hero-main{
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
}
.hero-body{
  max-width: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: start;
}
.main-description{
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 15px;
}
.hero-img{
  max-width: 60%;
  height: auto;
}
.paragraph{
  padding: 15px;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 10px;
}
.first{
  background-color: var(--color-dark);
}
.second{
  background-color: var(--color-dark-grey);
}
.third{
  background-color: var(--color-light-grey);
  color: var(--color-dark);
}
.fourth{
  background-color: var(--color-light);
  color: var(--color-dark);
}


/* slider */
.wrapper{
  position: relative;
  width: 100%;
}
.slider{
  position: relative;
  overflow: hidden;
  max-width: 900px;
  height: auto;
  border-radius: 25px;
}
.slider-items{
  width: 500%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.slider-items .item{
  width: 20%;
}
.slider-items .item img{
  max-width: 100%;
  height: auto;
}
.slider-items input{
  position: absolute;
  visibility: hidden;
}
.slider-nav{
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.slider-nav .slider-nav-item{
  width: 25px;
  height: 25px;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  margin: 7px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.slider-nav .slider-nav-item:hover{
  background-color: yellow;
}
#s1:checked ~ .s1{
  margin-left: 0;
}
#s2:checked ~ .s1{
  margin-left: -20%;
}
#s3:checked ~ .s1{
  margin-left: -40%;
}
#s4:checked ~ .s1{
  margin-left: -60%;
}
#s5:checked ~ .s1{
  margin-left: -80%;
}




/* team */
.team-frame-container{
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 15px;
}
.team-frame-container a:hover{
  color: yellow;
  text-decoration: none;
}
.link{
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 238px;
  max-height: 400px; 
  border: var(--color-light) 1px solid;
  border-radius: 50px;
  text-decoration: none;
  overflow: hidden;
}
.back{
  width: 100%;
  height: 100%;
  top: 0;
  box-sizing: border-box;
  left: 100%;
  transition: 0.5s;
}
.link:hover .back{
  top: 0;
  left: 0;
  
}
.sportsman{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.sportsman img{
  max-height: 70%;
  border-radius: 50px;
}
.description{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.person-name{
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.level{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.info{
  display: flex;
}
.date{
  text-align: left;
  width: 50%;
}
.sport{
  text-align: end;
  width: 50%;
}
.region, .name{
  text-align: center;
  width: 100%;
}
  
/* blog */
.blog{
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border: var(--color-light) 1px solid;
  border-radius: 50px;
  text-decoration: none;
}
.blog:hover{
  background-color: #404040;
  transform: none;
}
.blog-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.blog-name{
  text-align: center;
  font-weight: 700;
  width: 100%;
}
.blog-image{
  width: 100%;
  flex-shrink: 0;
  border-radius: 20px;
}
.author-description{
  margin-top: 10px;
  width: 100%;
  text-align: justify;
}
tr, td{
  text-align: center;
  border: var(--color-light) 1px solid;
}
.author{
  width: 50%;
}
.author-description img{
  width: 50%;
  border-radius: 20px;
}
.blog-frame .description{
  text-align: justify;
  padding: 5px;
}

/* coach */
.coach{
  padding: 0;
  color: var(--color-light);
  font-size: 20px;
  margin-bottom: 20px;
}
.coach-description{
  display: flex;
  width: 100%;
}
.coach-img{
  max-width: 400px;
  border-radius: 20px;
}
.name{
  width: 100%;
  text-align: left;
  margin-left: 3%;
}
.coach-name{
  background-color: var(--color-dark-grey);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-light);
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.coach-date{
  background-color: var(--color-light-grey);
  border-radius: 20px;
  padding: 10px;
  color: var(--color-dark);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.coach-contacts{
  display: flex;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 20px;
  padding: 10px;
}
.coach-contacts img{
  width: 50px;
  padding-right: 15px;
}
.coach-contacts img:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.coach-paragraph{
  padding: 0;
  margin-top: 15px;
  text-align: justify;
  border-radius: 20px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.coach-paragraph ul{
  font-size: 16px;
  background-color: var(--color-dark);
  border-radius: 20px;
  padding-block: 15px;
  padding-right: 15px;
}

/* gallery */
.gallery-horizontal, .gallery-vertical{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.gallery-horizontal img{
  border-radius: 20px;
  max-width: 500px;
}
.gallery-vertical img{
  border-radius: 20px;
  max-width: 400px;
}
.gallery-vertical{
  margin-bottom: 20px;
}

/* media rules */
@media (max-width: 1400px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-body{
    display: contents;
  }
  .hero .hero-main{
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-title{
    order: -2;
  }
  .hero .hero-img, .wrapper{
    order: -1;
    width: 100%;
    max-width: 100%;
  }
  .hero .hero-description{
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.2;
    text-align: justify;
  }
  .blog{
    max-width: 350px;
  }
}

@media (max-width: 1024px){
  .header{
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }
  .header-menu{
    order: 1;
    flex-basis: 100%;
  }
  .header-menu-link{
    height: 50px;
  }
  .container{
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
  .slider{
    border-radius: 20px;
  }
  .team-frame-container{
    column-gap: 15px;
  }
  .blog{
    max-width: 260px;
    font-size: 14px;
  }
  .coach-img{
    width: 40%;
  }
  .coach-name{
    font-size: 25px;
  }
  .gallery-horizontal, .gallery-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .gallery-horizontal img{
    max-width: 100%;
  }
  .gallery-vertical img{
    max-width: 100%;
  }
}
@media (max-width: 540px){
  .container{
    display: flex;
    align-items: center;
  }
  .header{
    padding-top: 10px;
  }
  .header-logo-image{
    max-width: 80px;
  }
  .header-menu-list{
    column-gap: 24px;
  }
  .header-menu-link{
    height: 32px;
  }
  .slider{
    border-radius: 20px;
  }
  .blog{
    max-width: 300px;
    font-size: 13px;
  }
  .team-frame-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .link{
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--color-light) 1px solid;
    border-radius: 50px;
    text-decoration: none;
  }
  .coach-img{
    max-width: 200px;
    height: auto;
  }
  .name{
    width: 60%;
  }
  .coach-name{
    font-size: 18px;
    line-height: 1.4;
  }
  .coach-name, .coach-date, .coach-contacts{
    padding: 5px;
    padding-left: 15px;
  }
  .coach-contacts img{
    width: 45px;
    height: auto;
    padding-right: 18px;
  }
  .gallery-horizontal, .gallery-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-horizontal img{
    max-width: 100%;
  }
  .gallery-vertical img{
    max-width: 100%;
  }
}